<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes</title>
     <%- include("partials/header.ejs") %>
</head>
<body>
    <h1>Quotes by <%= rows.length ? `${rows[0].firstName} ${rows[0].lastName}` : "Selected Author" %></h1>
    <ul>
        <% rows.forEach(row => { %>
            <li class="quote">
                <%= row.quote %> - 
                <a href="#" class="authorNames" authorId="<%= row.authorId %>">
                    <%= row.firstName %> <%= row.lastName %>
                </a>
            </li>        <% }) %>
    </ul>
    <!-- creating modal window -->
    <dialog id="authorModal">
        <div id="authorInfo">
            <button id="closeModal"> Close </button>
            <h1 id="authorName"></h1>
            <img id="authorPicture" width="300">
            <h2 id="authorDOB"></h2>
            <h2 id="authorDOD"></h2>
            <h2 id="authorSex"></h2>
            <h2 id="authorCountry"></h2>
            <h2 id="authorProfession"></h2>
            <h2 id="authorBio"></h2>
        </div>
    </dialog>
    <script src="/js/quotes.js"></script>
    <%- include("partials/footer.ejs") %>
</html>